# -------------------------------
# Core git configuration
# -------------------------------

# Auto detect text files and perform LF normalization
* text=auto eol=lf

# -------------------------------
# Explicit language classification
# -------------------------------

*.sql linguist-language=SQL
*.py linguist-language=Python
*.ipynb linguist-language=Jupyter\ Notebook
Makefile linguist-language=Makefile
*.yaml linguist-language=YAML

# -------------------------------
# Exclude non-source directories
# -------------------------------

.venv/** linguist-vendored
.pytest_cache/** linguist-vendored
data/** linguist-vendored
logs/** linguist-vendored
exports/** linguist-vendored

# -------------------------------
# Documentation and metadata
# -------------------------------

*.md linguist-documentation
.gitignore linguist-documentation
.gitattributes linguist-documentation

# -------------------------------
# Binary definitions
# -------------------------------
*.csv binary
*.db binary
*.png binary
*.jpg binary
*.jpeg binary